<app-title></app-title>

<section>
  @if (categories.length > 0) {
  @for (category of categories; track $index) {
  <button (click)="getFacts(category, numberOfFacts)">{{ category }}</button>
  }
  } @else {
  <div>
    <p>Cargando....</p>
  </div>
  }
</section>

<section>
  <h2>Selecciona cuántos hechos deseas:</h2>
  <input type="number" [(ngModel)]="numberOfFacts" min="1" placeholder="Número de hechos" />
  <button id="getButtonList" (click)="getFacts(selectedCategory, numberOfFacts)">Obtener Hechos</button>
</section>

<section>
  <button>Volver</button>
</section>

<section>
  @if (facts.length > 0) {
    <h2>Hechos de {{ selectedCategory }}</h2>
    @for (fact of facts; track $index) {
      <p>{{ fact.value }}</p>
      <img [src]="fact.icon_url" alt="Icono de Chuck Norris">
      <hr>
    }
  }
</section>