button {
  background-color: #4a90e2; 
  color: white;
  border: none; 
  padding: 10px 10px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  width: 130px; 
  height: 60px;
}

button:hover {
  background-color: #4281c9; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  justify-items: center;
  width: 100%;
  margin: 0 auto; 
}

input {
  background-color: #4a90e2; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block;
  font-size: 16px; 
  margin: 10px; 
  border-radius: 5px;
}

#getButtonList {
  width: 200px; 
  height: 39px;
}

h2 {
  text-align: center;
}

#back {
  width: 800px; 
  height: 39px;
}