
button {
  background-color: #4a90e2; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 10px 0; 
  cursor: pointer; 
  border-radius: 5px; 
  width: 130px; 
  height: 60px;
  margin: 10px;
}

button:hover {
  background-color: #4281c9; 
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px;
}

input {
  background-color: #4a90e2; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 10px 0; 
  border-radius: 5px; 
  margin: 10px;
}

#getButtonList {
  width: 200px; 
  height: 39px;
}

h2 {
  text-align: center;
}