
section {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px;
}

h1 {
  letter-spacing: 1px; 
  font-weight: bold; 
  color: #4a90e2; 
  text-align: center;
  font-size: 3rem;
  padding: 20px 0;
}